*
{
	margin: 0;
	padding: 0;

}
header
{
	
	height: 100px;
	background-size: cover;
	background-position: center;

}
.main
{
	height: auto;
	float: left;
	list-style: none;
	margin-top: 30px;
	margin-left: 30px;


}
.main li
{
	display: inline-block;
}
.main li a
{
	color: white;
	text-decoration: none;
	padding: 5px 20px;
	font-family: "roboto",sans-serif;
	font-size: 20px;
	border: 1px solid white
}
.navigation
{
	float: right;
	list-style: none;
	margin-top: 30px;
	

}	
.navigation li
{
	display: inline-block;
}
.navigation li a
{
	color: white;
	text-decoration: none;
	padding: 5px 20px;
	font-family: "roboto",sans-serif;
	font-size: 15px;
}
.navigation li.active a
{
	border: 1px solid white:;	

}
.navigation li a:hover
{
	border: 1px solid white;
}
body
{
	font-family: monospace;
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(im1.jpg);
}
.row
{
	max-width: 1400px;
	margin: auto;
	background-color: red;
}

.knit
{
	
	width: 1300px;
	margin-left: 120px;
	margin-top: 0px;

}
h1
{
	color: white;
	font-size: 70px;
	text-align: center;
	margin-top: 50px;


}
p
{
	color: red;
	font-size: 40px;
	text-align: center;

}